@import url("trabalho.css");
@import url("../assets/css/plugins/bootstrap.min.css");
@import url("../assets/css/plugins/fontawesome.css");
@import url("../assets/css/plugins/sidebar.css");
@import url("../assets/css/plugins/aos.css");
@import url("../assets/css/plugins/mobile.css");
@import url("../assets/css/plugins/nice-select.css");
@import url("../assets/css/plugins/owl.carousel.min.css");
@import url("../assets/css/plugins/modal-video.min.css");
@import url("../assets/css/plugins/slick-slider.css");
@import url("../assets/css/typography.css");
@import url("../assets/scss/master.css");
@import url("../wp-content/plugins/header-footer-elementor/inc/widgets-css/frontend.css");
@import url("../wp-content/plugins/template-kit-export/assets/public/template-kit-export-public.css");
@import url("../wp-content/plugins/header-footer-elementor/assets/css/header-footer-elementor.css");
@import url("../wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css");
@import url("../wp-content/plugins/elementor/assets/css/frontend.min.css");
@import url("../wp-content/uploads/elementor/css/post-6.css");
@import url("../wp-content/plugins/elementor/assets/lib/animations/styles/fadeInDown.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-heading.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/animations/styles/fadeInUp.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-image.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-divider.min.css");
@import url("../wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css");
@import url("../wp-includes/js/mediaelement/wp-mediaelement.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-spacer.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/animations/styles/fadeInRight.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/animations/styles/fadeInLeft.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-icon-list.min.css");
@import url("../wp-content/uploads/elementor/css/post-37.css");
@import url("../wp-content/uploads/elementor/css/post-1247.css");
@import url("../wp-content/uploads/elementor/css/post-33.css");
@import url("../wp-content/plugins/metform/public/assets/css/metform-ui.css");
@import url("../wp-content/plugins/metform/public/assets/css/style.css");
@import url("../wp-content/plugins/metform/public/assets/lib/cute-alert/style.css");
@import url("../wp-content/plugins/metform/public/assets/css/text-editor.css");
@import url("../wp-content/themes/hello-elementor/style.min.css");
@import url("../wp-content/themes/hello-elementor/theme.min.css");
@import url("../wp-content/themes/hello-elementor/header-footer.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-icon-list.min.css");
@import url("../wp-content/plugins/elementor/assets/css/widget-social-icons.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.css");
@import url("../wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.css");
@import url("../wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.css");
@import url("../wp-content/plugins/elementskit-lite/widgets/init/assets/css/widget-styles.css");
@import url("../wp-content/plugins/elementskit-lite/widgets/init/assets/css/responsive.css");
@import url("../wp-content/plugins/elementskit-lite/widgets/init/assets/css/odometer-theme-default.css");
@import url("../wp-content/uploads/elementor/google-fonts/css/playfairdisplay.css");
@import url("../wp-content/uploads/elementor/google-fonts/css/opensans.css");
@import url("../wp-content/uploads/elementor/google-fonts/css/playfairdisplaysc.css");
@import url("../wp-content/plugins/elementskit-lite/modules/elementskit-icon-pack/assets/css/ekiticons.css");
@import url("../wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css");
@import url("../wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css");
@media (max-width: 767px) {
  [data-id="beab667"] {
    display: none !important;
  }
}
